<li>
  <%= f.label f.object.word.content %>
  <ul>
    <% f.object.word.answers.each do |answer| %>
    <div>
      <%= f.radio_button :answer_id, answer.id%>
      <%= answer.content %>
    </div>
    <% end %>
  </ul>
</li>
