<tr>
  <td class="text-c"><%= category_counter + 1 %></td>
  <td class="text-l"><p><%= category.name %></p></td>
  <td class="text-l"><%= category.description %></td>
  <td><%= l category.created_at, format: :long %></td>
</tr>
